multimedia/tv/vdr/plugins/vdr-skindesigner/vdr-skindesigner/pkg/vdr-skindesigner/usr/share/vdr/plugins/skindesigner/dtd/displaychannel.dtd

<?xml encoding="UTF-8"?>

<!ENTITY % functions SYSTEM "functions.dtd">

<!ELEMENT displaychannel (background | channelinfo | epginfo | progressbar | progressbarback |  
                          statusinfo | audioinfo | ecminfo | screenresolution | channelgroup | 
                          signalquality | signalqualityback | devices | currentweather | 
                          scrapercontent | channelhints | channeldetail | channellistdetail | 
                          channellistback | channellist | grouplistback | grouplist | 
                          groupchannellistback | groupchannellist | groupchannellistdetail | 
                          datetime | time | message | customtokens)* >
<!ATTLIST displaychannel
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT background (areacontainer|area|areascroll)*>
<!ATTLIST background
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT channelinfo (areacontainer|area|areascroll)*>
<!ATTLIST channelinfo
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT epginfo (areacontainer|area|areascroll)*>
<!ATTLIST epginfo
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT progressbar (areacontainer|area|areascroll)*>
<!ATTLIST progressbar
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT progressbarback (areacontainer|area|areascroll)*>
<!ATTLIST progressbarback
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT statusinfo (areacontainer|area|areascroll)*>
<!ATTLIST statusinfo
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT audioinfo (areacontainer|area|areascroll)*>
<!ATTLIST audioinfo
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT ecminfo (areacontainer|area|areascroll)*>
<!ATTLIST ecminfo
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT screenresolution (areacontainer|area|areascroll)*>
<!ATTLIST screenresolution
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT channelgroup (areacontainer|area|areascroll)*>
<!ATTLIST channelgroup
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT signalquality (areacontainer|area|areascroll)*>
<!ATTLIST signalquality
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT signalqualityback (areacontainer|area|areascroll)*>
<!ATTLIST signalqualityback
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT devices (areacontainer|area|areascroll)*>
<!ATTLIST devices
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
  mode CDATA #IMPLIED
>

<!ELEMENT currentweather (areacontainer|area|areascroll)*>
<!ATTLIST currentweather
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT scrapercontent (areacontainer|area|areascroll)*>
<!ATTLIST scrapercontent
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT channelhints (areacontainer|area|areascroll)*>
<!ATTLIST channelhints
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT channeldetail (areacontainer|area|areascroll)*>
<!ATTLIST channeldetail
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
  clearondisplay CDATA #IMPLIED
>

<!ELEMENT channellistback (areacontainer|area|areascroll)*>
<!ATTLIST channellistback
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
  clearondisplay CDATA #IMPLIED
>

<!ELEMENT grouplistback (areacontainer|area|areascroll)*>
<!ATTLIST grouplistback
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
  clearondisplay CDATA #IMPLIED
>

<!ELEMENT groupchannellistback (areacontainer|area|areascroll)*>
<!ATTLIST groupchannellistback
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT channellist (listelement)>
<!ATTLIST channellist
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  align (left|top|center|bottom|right) #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  numlistelements CDATA #REQUIRED
  orientation CDATA #REQUIRED
  condition CDATA #IMPLIED
  button CDATA #IMPLIED
>

<!ELEMENT grouplist (listelement)>
<!ATTLIST grouplist
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  align (left|top|center|bottom|right) #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  numlistelements CDATA #REQUIRED
  orientation CDATA #REQUIRED
  condition CDATA #IMPLIED
  button CDATA #IMPLIED
>

<!ELEMENT groupchannellist (listelement)>
<!ATTLIST groupchannellist
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  align (left|top|center|bottom|right) #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  numlistelements CDATA #REQUIRED
  orientation CDATA #REQUIRED
  condition CDATA #IMPLIED
>

<!ELEMENT listelement (areacontainer|area|areascroll)*>
<!ATTLIST listelement
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  debug CDATA #IMPLIED
>

<!ELEMENT channellistdetail (areacontainer|area|areascroll)*>
<!ATTLIST channellistdetail
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT groupchannellistdetail (areacontainer|area|areascroll)*>
<!ATTLIST groupchannellistdetail
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT datetime (areacontainer|area|areascroll)*>
<!ATTLIST datetime
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT time (areacontainer|area|areascroll)*>
<!ATTLIST time
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT message (areacontainer|area|areascroll)*>
<!ATTLIST message
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT customtokens (areacontainer|area|areascroll)*>
<!ATTLIST customtokens
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

%functions;
